@use 'colours';

$widgetHeight: 40px;
$fontSize: 18px;
$smallFontSize: 12px;
$bodySize: 12px;
$iconSize: 18px;
$pad: 8px;
$windowMargin: 10px;
$popupHeight: 24px;
$border: 4px;
$gap: 4px;
$workspaceCount: 6;

@mixin text-base($size, $colour) {
    font-family: BankGothic;
    font-size: $size;
    color: white;
    text-shadow: 0px 0px 2px $colour, 0px 0px 2px $colour;
}

@mixin text($colour: colours.$miku) {
  @include text-base($fontSize, $colour);
}

@mixin small-text($colour: colours.$miku) {
  @include text-base($smallFontSize, $colour);
}

@mixin medium-text($colour: colours.$miku) {
  @include text-base($bodySize, $colour);
}

.text {
  @include text();
}
.small-text {
  @include small-text();
}
.medium-text {
  @include medium-text();
}

.invisible {
    background-color: transparent;
}

.border {
    //box-shadow: 0px 0px 10px 3px rgba(71,200,192,0.75), 0px 0px 10px 3px rgba(71,200,192,0.75) inset;
    border: $border solid rgba(colours.$miku, 1);
}

.debug {
    border: 1px solid rgba(red, 1);
}

.container {
  @extend .invisible;
  min-height: $widgetHeight;
}

.test-box {
  @extend .debug;
  background-color: green;
  min-height: 50px;
  min-width: 50px;
}

.icon {
  font-size: $iconSize;
}

@mixin progress($fg, $bg: colours.$darkGrey) {
  min-height: $border;
  background-color: $bg;
  color: $fg;
}
