$bgWidgets: #5a676b;
$miku: #47c8c0;
$teto: #ff629d;
// $base-color: #55d1d0;
$lightText: #e2ddcc;
// Teto alt
/* $highlight3: #ff1688; */

$rin: #FFCC11;
$len: #FFEE12;

// $primary: #87e5cf;

// Subcolours for #87e5cf

$primary1: #7aceba;
$primary2: #6cb7a6;
$primary3: #5fa091;
$primary4: #51897c;
$primary5: #447368;
$primary6: #365c53;
$primary7: #29453e;
$primary8: #1b2e29;
$primary9: #0d1715;

// Subcolours for #5a676b

$dark1: #515d60;
$dark2: #485256;
$dark3: #3f484b;
$dark4: #363e40;
$dark5: #2d3436;
$dark6: #24292b;
$dark7: #1b1f20;
$dark8: #121515;
$dark9: #090a0b;

// Subcolours for #ff1688

$highlightShade1: #e6147a;
$highlightShade2: #cc126d;
$highlightShade3: #b30f5f;
$highlightShade4: #990d52;
$highlightShade5: #800b44;
$highlightShade6: #660936;
$highlightShade7: #4d0729;
$highlightShade8: #33041b;
$highlightShade9: #19020e;

