$bgWidgets: #5a676b;
$miku: #47c8c0;
$teto: #ff629d;
// $base-color: #55d1d0;
$lightText: #e2ddcc;
// Teto alt
/* $highlight3: #ff1688; */

$rin: #FFCC11;
$len: #FFEE12;

$darkGrey: #24292b;
$lightGrey: #5a676b;
