@use 'base';
@use 'colours';

.musicText {
    @extend .text;
    text-shadow: 0px 0px 2px colours.$teto, 0px 0px 2px colours.$teto;
}

.musicSubText {
    @extend .text;
    font-size: base.$bodySize;
    text-shadow: 0px 0px 2px colours.$teto, 0px 0px 2px colours.$teto;
}

.progressBar {
    all: unset;
    min-height: 2px;
    border-right: 2px solid colours.$teto;
    border-left: 2px solid colours.$teto;
    background: white;
    box-shadow: 0px 0px 2px 1px colours.$teto;
    trough {
        all: unset;
        min-height: 2px;
    }

    highlight {
        all: unset;
        background-color: colours.$teto;
    }
    slider {
        all: unset;
    }
}


.focusLossDetection {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.playerInfo {
    @extend .text;
    font-size: base.$bodySize;
}
