@use 'colours';
@use 'base';

$wsBlockWidth: 12px;
$activeCircleWidth: 10px;
$wsGap: 2px;

.topleft-container {
  @extend .container;
  padding-left: base.$pad;
}

.ws-text {
    @include base.text();
    min-width: (6 * (($wsGap * 2) + $wsBlockWidth));
    /* min-width: ($wsBlockWidth * 2) * base.$workspaceCount + base.$gap * (base.$workspaceCount - 1) + $activeCircleWidth; */
}

.ws-block {
    margin-left: $wsGap;
    margin-right: $wsGap;
    background: white;
    min-height: base.$border;
    min-width: $wsBlockWidth;
}

.ws-block-window {
    @extend .ws-block;
    background: colours.$miku;
}

.ws-block-focused {
    @extend .ws-block;
    min-height: base.$border * 3;
}

.ws-block-window-focused {
    @extend .ws-block-focused;
    @extend .ws-block-window;
}
