@use 'colours';
@use 'base';

$circleSize: 6px;
$activeCircleWidth: 10px;

.topleft-container {
  @extend .container;
  padding-left: base.$pad;
}

.ws-text {
    @extend .text;
    min-width: ($circleSize * 2) * base.$workspaceCount + base.$gap * (base.$workspaceCount - 1) + $activeCircleWidth;
}

.ws-circle-container {
  @extend .invisible;
  min-height: 8px;
}

.ws-circle {
    border: $circleSize solid rgba(white, 1);
    background: white;
    border-radius: 8px;
}

.ws-circle-window {
    @extend .ws-circle;
    border: $circleSize solid rgba(colours.$miku, 1);
    background: colours.$miku;
}

.ws-circle-active {
    @extend .ws-circle;
    min-width: $activeCircleWidth;
}

.ws-circle-window-active {
    @extend .ws-circle-active;
    @extend .ws-circle-window;
}
.clock {
    @extend .text;
    @extend .invisible;
    /* @extend .debug; */
}
