@use 'colours';
@use 'base';
@use 'bar';

.topright-container {
  @extend .bar;
  padding-right: base.$gap;
  border-left: none; 
}

.volume-progress {
    @include base.progress(colours.$teto);
}

.volume-icon {
  @extend .icon;
  color: colours.$teto;
}

.volume-text {
    @include base.text(colours.$teto);
}

.battery-progress {
    @include base.progress(colours.$len);
}

.battery-icon {
  @extend .icon;
  color: colours.$len;
}

.battery-text {
    @include base.text(colours.$len);
}

.ram-progress {
    @include base.progress(colours.$rin);
}

.ram-icon {
  @extend .icon;
  color: colours.$rin;
}

.ram-text {
    @include base.text(colours.$rin);
}

.wrapper {
  @extend .invisible;
  padding-top: base.$gap;
  padding-bottom: base.$gap;
}

.tray-button {
  all: unset;
  border-radius: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.tray-item {
  @extend .tray-button;
  border-bottom: base.$border solid rgba(white, 1);
}

.tray-active {
  @extend .tray-button;
  border-bottom: base.$border solid rgba(colours.$teto, 1);
}

.tray-attention {
  @extend .tray-button;
  border-bottom: base.$border solid rgba(colours.$len, 1);
}

