@use 'colours';
@use 'base';

.topright-container {
  @extend .container;
  padding-right: base.$gap;
}

.volume-progress {
    @extend .progress;
    color: colours.$teto;
}

.volume-background {
    border: 1px solid rgba(colours.$teto, 1);
    border-radius: base.$widgetHeight - (base.$gap * 2);
}

.volume-icon {
  @extend .icon;
    color: colours.$teto;
}

.battery-progress {
    @extend .progress;
    color: colours.$len;
}

.battery-background {
    border: 1px solid rgba(colours.$len, 1);
    border-radius: base.$widgetHeight - (base.$gap * 2);
}

.battery-icon {
  @extend .icon;
    color: colours.$len;
}

.wrapper {
  @extend .invisible;
  padding-top: base.$gap;
  padding-bottom: base.$gap;
}
